* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: Gilroy;
    src: url('./assets/fonts/Gilroy-Light.otf');
}

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-Regular.ttf');
}